@import './mixin-constants.scss';
.nav-buttons {
  display: grid;
  padding: 1em;
  margin: 1em;
  grid-template-columns: repeat(2, auto);
  justify-content: end;
  gap: 1em;
  border-bottom: 0.09em solid $light-grey-color;
  border-top: 0.09em solid $light-grey-color;

  .nav-btn {
    width: 10em;
    padding: 0.5em;
    background-color: $primary-color;
    color: $white-color;
    font-weight:normal;
    font-size: 1em;
    border-radius: 0.5em;
    border: none;
  }
}
