body {
  margin: 0;
  padding: 0;
  .heading {
    margin-top: 0;
    padding: 1em;
    color: #fff;
    background-color: #cd853f;
    text-align: center;
    font-size: 2em;
  }
  #inputField {
    width: 50%;
    padding: 2em;
    margin-top: 4em;
    margin-left: 24em;
    display: flex;
    border: 0.2em solid #ccc;
    border-radius: 1em;
    box-sizing: border-box;
  }
  .load-button {
    margin-top: 2em;
    margin-left: 40em;
    width: 20%;
    background-color: #cd853f;
    color: #fff;
    padding: 2em;
    cursor: pointer;
  }
  #my-image {
    margin-top: 8em;
  }
}
