body{
  background-color: #f4f7f9;
}
.product-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  list-style: none;
  padding: 2em;
  
}
.card-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 16em;
  height: 18em;
  
}

.card-img {
  width: 80%;
  height: 40%;
}
