h1 {
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
p {
    line-height: 2;
    font-size: 18px;
}
ul {
    display: block;
    padding-left: 20px;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    list-style-position: inside;
  }
  .container{
    background-color:rgb(219, 219, 219);
  }