/* removed space (header) */
body{
    margin: 0;
    padding:0;
}

.header{

    background-color:#ff7f51;
    padding: 0.1em;
}
.header h2{
    
    padding-left: 4.9em;
    color:white;
    font-size: 1.5em;
}
nav {
    position: sticky;
    top:0em;
    background-color: #333333;
    padding-left: 5.5em;
    
    
}
nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0.8em;
    display: flex;
    
    
  }
nav li a {
    
    color: white;
    padding: 1em;
    font-size: 1.2em;
    text-decoration: none;
  }

.container-img{
    background-image: url("assets/img/showcase.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    padding: 3em;
    background-position:100% 50%;
    background-size: 250%;
}

.container-img p{
    color: white;
    font-size: 2.5em;
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    padding-left: 4em;
    padding-right: 4em;
}

.container-welcome{
    background-color:#f4f4f4;
    padding: 3em;
    padding-left: 8em;
    display: inline-block;
}

.container-welcome p{
    width: 60%;
    
}
.container-welcome h2{
    
    font-size: 1.8em; 
    color: #333333;   
}

.box{

    background-color: #333333;
    padding: 1em;
    margin-left: 52em;
    margin-top: -20em;
    width: 25%;
    position: absolute;
    color: #f4f4f4;
}

.box p{
    width: fit-content;
}


footer{
    background-color:#333333;
    color: #f4f4f4;
    padding: 0.2em;
    text-align: center; 
}



@media only screen and (max-width: 1024px) and (max-height: 786px) {
    .box{
        margin: 0;
        position: initial;
        width: 80%;
    }
    .container-welcome p{
        width: 80%;
        
    }
}

@media only screen and (max-width: 1366px) and (max-height: 768px) {
    .box{
        margin: 0;
        position: initial;
        width: 80%;
    }
    .container-welcome p{
        width: 80%;
        
    }
}

