.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 2em;
  .card-item {
   
    justify-content: space-between;
    padding: 20px;

    width: 16em;
    height: 12em;
  }

  .card-img {
    width: 80%;
    height: 40%;
  }

  .add-button {
    background-color: #008cba;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
  }
}
